[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hanwenguo"]
	path = themes/hanwenguo
	url = git@github.com:hanwenguo/hugo-theme-nostyleplease.git
